@import "../../../variables";

.form {
    padding: $size * 3;
    width: 300px;
}

.form * {
    overflow-x: visible;
}

.formFields {
    margin-top: $size * 5;
    display: flex;
    gap: $size * 4;
    flex-direction: column;
}