@import '../../../variables';;

.categoryControlProgress {
    display: flex;
    gap: $size * 2;
    align-items: center;
    margin: $size * 2 0;
    flex-grow: 1;
}

@media screen and (min-width: 700px) {
    .categoryControl {
        display: flex;
        align-items: center;
        gap: $size * 4;
    }
    .categoryControlProgress {
        order: 3;
    }
}