@import '../../../variables';
@import '../../../mixins.scss';

.categoryControlProgress {
    margin: $size * 2 0;
    flex-grow: 1;
}

@media screen and (min-width: 700px) {
    .categoryControl {
        @include flex(4);
    }
    .categoryControlProgress {
        margin: 0;
        order: 3;
    }
}