@import '../../../App.scss';

.category-control__progress {
    display: flex;
    gap: $size * 2;
    align-items: center;
    margin: $size * 2 0;
    flex-grow: 1;
}

@media screen and (min-width: 700px) {
    .category-control {
        display: flex;
        align-items: center;
        gap: $size * 4;
        grid-area: control;
    }
    .category-control__progress {
        order: 3;
    }
}