@import '../../../variables';
@import '../../../mixins.scss';

.header {
    @include flex(2);
    justify-content: space-between;
    padding: $size * 2;
    margin-bottom: $size * 2;
}

.headerLogo {
    @include flex(2);
}