@import '../../../variables';
@import '../../../mixins.scss';

.mainContent>div {
    margin-bottom: $size * 2;
}

@media screen and (min-width: 700px) {

    .mainContent {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: $size * 2;
    }

    .mainContent>div {
        margin-bottom: 0;
    }
}