@import '../../App.scss';

.category-list {
    padding-left: $size * 3;
    list-style-type: none;
}

.category-list__item {
    display: block;
    font-weight: normal;
    cursor: pointer;
    margin-top: $size;
}

.category-list__item.active {
    font-weight: bold;
}