@import '../../App.scss';

.todo-items {
    flex-grow: 1;
}

.todo-items-content {
    transition: height .3s ease-in;
    padding: $size * 2;
    display: flex;
    flex-direction: column;
    gap: $size * 2;
}