@import '../../variables';
@import '../../mixins.scss';

.todoItems {
    padding: $size * 2;
}

.todoItemsHeader {
    margin-bottom: $size * 2;
}

.todoItemsContent>div {
    margin-bottom: $size * 2;
}

.todoItemsHeaderControl {
    @include flex(2);
}

@media screen and (min-width: 1000px) {

    .todoItemsContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $size * 2;

        &>div {
            margin-bottom: 0;
        }
    }
}